.container {
  & p {
    width: 640px;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 1.2rem;
  }

  .boxes {
    width: 1100px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    margin-bottom: 100px;

    & .box {
      flex: 1 1 33%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      border: var(--border-2);
      padding: 40px;
      transition: 0.3s all ease-in-out;

      & svg {
        font-size: 3.8rem;
        color: var(--text-gray-dark-2);
      }

      & h3 {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    & .box:hover {
      border: var(--border-3);
    }
  }
}

@media (max-width: 880px) {
  .container {
    & .boxes {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media (max-width: 880px) {
  .container {
    & .boxes {
      grid-template-columns: auto;
    }
  }
}
