.footer {
  background-color: var(--bg-dark);

  & .navWithButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    & > button {
      display: none;
    }

    & .navFooter {
      padding: 25px;
      display: flex;
      gap: 4rem;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      & li {
        & a {
          text-decoration: none;
          color: var(--white);
          font-size: 1.3rem;
          transition: 0.3s all ease-in-out;
          text-wrap: no-wrap;
        }

        & a:hover {
          color: var(--text-gray-light);
        }
      }
    }
  }

  & .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding: 60px 0;
    line-height: 1.5;
    font-size: 1.15rem;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.6;

    & .socials {
      margin-top: 30px;
    }
  }

  & .created {
    border-top: 1px solid var(--border-color);
    padding: 25px 0;
    font-size: 1.12rem;
    text-align: center;
    color: var(--text-gray-dark);

    & a {
      font-weight: bold;
      text-decoration: none;
      color: var(--text-gray-dark);
    }
  }
}

@media (max-width: 880px) {
  .footer {
    & .navWithButton {
      border: 1px solid var(--border-color);
      & > button {
        display: flex;
        background-color: transparent;
        border: 0;
        font-size: 1.2rem;
        color: var(--white);
        padding: 20px 0;
        width: 100%;
        transition: 0.3s all ease-in-out;
      }
      & .navFooter {
        display: none;
      }

      & .navFooterMobile {
        width: 100%;
        padding-top: 20px;
        list-style: none;
        border-top: 1px solid var(--border-color);

        & li {
          & a {
            text-decoration: none;
            display: block;
            margin-bottom: 20px;
            text-align: center;
            color: var(--white);
            transition: 0.3s all ease-in-out;
            font-size: 1.2rem;
          }

          & a:hover {
            color: var(--text-gray-light);
          }
        }
      }
    }

    & .navWithButton button:hover {
      background-color: var(--bg-dark-2);
    }
  }
}
