.container {
  & .office {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 645px;
    margin: 0 auto;
    max-width: 90%;

    & img {
      margin-bottom: 40px;
    }

    & p {
      font-size: 1.12rem;
      line-height: 1.6;
      margin-bottom: 40px;
    }
  }
}
