@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;

  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #292830;
  --bg-transparent: rgba(59, 59, 59, 0.842);
  --bg-transparent-light: rgba(126, 126, 126, 0.842);

  --border-1: 1px solid #504f4f;
  --border-2: 1px solid #888888;
  --border-3: 1px solid #b9b9b9;

  --text-gray: #797979;
  --text-gray-2: #4f4c56;
  --text-gray-3: #d8d8d8;

  --text: #e0e0e0;
  --text-2: #b0b0b0;

  --font-1: "Merriweather";
  --font-2: "Lato";
}

[data-theme="light"] {
  --bg-primary: #e7e7e7;
  --bg-secondary: #eeeeee;
  --bg-tertiary: #e6e6e6;

  --text: #1a1a1a;
  --text-2: #363636;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: var(--font-2);
  background-color: var(--bg-secondary);
  color: var(--text-2);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

[data-button="1"],
[data-button="2"],
[data-button="3"] {
  display: flex;
  width: fit-content;
  margin-top: 1rem;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid transparent;
  font-size: 1.15rem;
  transition: 0.3s all ease-in-out;
}

[data-button="1"]:hover {
  background-color: var(--bg-dark);
  border: var(--border-3);
  color: var(--text);
}

[data-button="2"] {
  border: var(--border-1);
  color: var(--white);
  background-color: transparent;
  margin: 0 auto;
}

[data-button="2"]:hover {
  background-color: var(--bg-transparent);
}

[data-button="3"] {
  background-color: transparent;
  border: var(--border-2);
  color: var(--text);
}

[data-button="3"]:hover {
  background-color: var(--black);
  color: var(--white);
}

img {
  width: 100%;
}

input,
select,
textarea {
  border-radius: 0;
  background-color: var(--bg-tertiary);
  color: var(--text-white-2);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--text-2) !important;
}
